{% extends "base.html" %}
{% block content %}
  <section class="grid-container">
    <h2>Archives for {{ SITENAME }}</h2>

    <div class="content">
      <dl>
      {% for article in dates %}
          <dt>{{ article.locale_date }}</dt>
          <dd><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></dd>
      {% endfor %}
      </dl>
    </div><!-- /.content -->
  </section><!-- /.grid-container -->
{% endblock %}
