{% extends "base.html" %}
{% block head_description %}
{% if article.summary %}
{{ article.summary|striptags }}
{% endif %}
{% endblock head_description %}
{% block title %}{{ article.title|striptags }}{% endblock %}
{% block meta_tags_in_head %}
{% if article.tags and article.category %}
        <meta name="keywords" content="{{ [article.tags|join(', '), article.category]|join(', ') }}" />
{% endif %}
{% if article.category %}
        <meta name="category" content="{{ article.category|striptags }}" />
{% endif %}
{% if article.description %}
        <meta name="description" content="{{ article.description|striptags  }}" />
{% elif article.summary %}
        <meta name="description" content="{{ article.summary|striptags  }}" />
{% endif %}
{% if article.author %}
        <meta name="author" content="{{ article.author }}" />
{% elif article.authors %}
        <meta name="author" content="{{ ", ".join(article.authors) }}" />
{% endif %}
{% if article.date %}
        <meta name="date" content="{{ article.date }}">
{% endif %}
{% endblock meta_tags_in_head %}
{% block content %}
<section class="grid-container">
  <article id="{{ article.section.replace(' ', '-').lower() }}" class="grid-x grid-margin-x">
    <header class="cell">
      <p class="section"><span>{{ article.section }}</span></p>
      {% if article.section in ["Column", "Editor's letter", "Guest editor's letter", "Production colophon"] %}
        <div class="media-object">
          <div class="media-object-section align-self-top">
            <div class="thumbnail">
              {% if article.section == "Production colophon" and "Ana Isabel Carvalho" in article.authors  %}
                <img src="/images/persistent/manufactura-independente.jpg" alt="Ana Isabel Carvalho & Ricardo Lafuente">
              {% elif article.section == "Production colophon" and "Thibaut Hofer" in article.authors  %}
                <img src="/images/persistent/cover-process.jpg" alt="Thibaut Hofer, Morgan Fortems">
              {% elif article.section == "Guest editor's letter" and "Loredana Bontempi" in article.authors  %}
                <img src="/images/persistent/parcodiyellowstone.jpg" alt="Loredana Bontempi, Emanuele Bonetti, Morgan Fortems, Thibaut Hofer">
              {% else %}
                {% if article.authors %}
                  {% for author in article.authors %}
                    <img src="/images/persistent/{{ author.slug }}.jpg" alt="{{ author }}">
                  {% endfor %}
                {% endif %}
              {% endif %}
            </div>
          </div>
          <div class="media-object-section main-section">
            <h1 class="entry-title">{{ article.title}}</h1>
            <h4 class="author">
              {% if article.authors %}
                {% for author in article.authors %}
                  <a href="{{ SITEURL }}/authors.html#{{ author.slug }}">{{ author }}</a>{% if not loop.last %}, {% endif %}  
                {% endfor %}
              {% endif %}
            </h4>
          </div>
        </div>
      {% else %}
        <h1 class="entry-title">{{ article.title}}</h1>
        <h4 class="author">
          {% if article.authors %}
            {% for author in article.authors %}
            <a href="{{ SITEURL }}/authors.html#{{ author.slug }}">{{ author }}</a>{% if not loop.last %}, {% endif %}
            {% endfor %}
          {% endif %}
        </h4>
      {% endif %}
    </header>
    <div class="entry-content cell">
      {{ article.content }}
    </div><!-- /.entry-content -->
    <div class="next-previous cell">
      <div class="grid-x">
        {% if article.next_article_in_category %}
          <a class="previous cell small-6" href="{{ SITEURL }}/{{ article.next_article_in_category.url}}">
          &laquo; previous article: <strong>{{ article.next_article_in_category.title }}</strong>
          </a>
        {% endif %}
        {% if article.prev_article_in_category %}
          <a class="next cell small-6" href="{{ SITEURL }}/{{ article.prev_article_in_category.url}}">
          next article: <strong>{{ article.prev_article_in_category.title }}</strong> &raquo;
          </a>
        {% endif %}
      </div>
    </div><!-- /.previous-next -->
    <footer class="cell">
      <div class="grid-x grid-margin-x">
        <div class="cell small-12 medium-6">
          <ul class="article-extras">
            <li><a class="hollow button" target="_blank" href="https://gitlab.com/libregraphicsmag/libregraphicsmag-textfiles/raw/master/content/issue{{ article.category.slug }}/{{ article.source_path.split("/")[-1] }}">Source Markdown file</a></li>
            <li><a class="hollow button" target="_blank" href="http://libregraphicsmag.com/files/libregraphicsmag_{{ article.category.slug }}_lowquality.pdf#page={{ article.source_path.split("/")[-1][:2] }}">Read in the original PDF</a></li>
            <li><a class="hollow button" target="_blank" href="http://libregraphicsmag.com/">Get a printed copy</a></li>
          </ul>
          {% include 'taglist.html' %}
          <h5 class="subheader">Other articles in "{{ article.section }}"</h5>
          <ul class="index">
          {% for a in articles %}
            {% if a.section and a.section == article.section %}
              {% if a != article %}
                <li>
                  <a class="title" href="/{{ a.url }}">{{ a.title }}</a>
                  {% if a.authors %}
                    <span class="author">
                      {% for author in a.authors %}
                        <em>{{ author }}</em>{% if not loop.last %}, {% endif %}
                      {% endfor %}
                    </span>
                  {% endif %}
                </li>
              {% endif %}
            {% endif %}
          {% endfor %}
          </ul>
        </div>
        <div id="issue-nav" class="cell small-12 medium-6">
          <h5 class="subheader"><a href="/{{ article.category.url }}">issue {{ article.category.name.replace('issue', '') }}</a></h5>
          <ul class="index">
          {% for a in articles %}
            {% if a.category == article.category %}
              {% if a == article %}
                <li class="current">
                  {% if article.section %}
                    <span class="section">{{ a.section }}</span>
                  {% endif %}
                  <span class="title">{{ a.title }}</span>
                </li>
              {% else %}
                <li>
                  <a href="/{{ a.url }}">
                    {% if article.section %}
                      <span class="section">{{ a.section }}</span>
                    {% endif %}
                    <strong class="title" >{{ a.title }}</strong>
                  </a>
                </li>
              {% endif %}
            {% endif %}
          {% endfor %}
          </ul>
        </div><!-- /#issue-nav -->
      </div>
     </footer>
  </article>
</section>
{% endblock %}
