{% extends "base.html" %}
{% block title %}{{ SITENAME }} — {{ author }}{% endblock %}
{% block content %}

  <section class="grid-container">
    <h2>{{ author }}</h2>
    <div class="content">
      <ul class="index">
        {% for article in articles %}
          <li>
            {% if article.section %}
              <span class="section">{{ article.section }}</span>
            {% endif %}
            <a class="title" href="{{ SITEURL }}/{{ article.url }}" rel="bookmark"
                  title="Permalink to {{ article.title|striptags }}">
              {{ article.title }}
            </a>
          </li>
        {% endfor %}
      </ul>
    </div><!-- /.content -->
  </section><!-- /.grid-container -->
{% endblock %}
