{% extends "base.html" %}
{% block title %}{{ SITENAME }} — Authors{% endblock %}
{% block content %}

  <section class="grid-container">
    <h2>Authors</h2>
    
    <div class="content">
      <ul id="authors-list" class="two-level-list">
        {% for author, articles in authors|sort %}
          <li id="{{ author.slug }}" class="list-item"><strong>{{ author }}</strong> <em>({{ articles|count }})</em> 
            <ul class="index">
              {% for article in articles %}
                <li>
                  {% if article.section %}
                    <span class="section">{{ article.section }}</span>
                  {% endif %}
                  <a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></li>
              {% endfor %}
            </ul>
          </li>
        {% endfor %}
      </ul>
    </div><!-- /.content -->
  </section><!-- /.grid-container -->
{% endblock %}
