<!doctype html>
<html class="no-js" lang="en" dir="ltr">
<head>
        <title>{% block title %}{{ SITENAME }}{%endblock%}</title>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="generator" content="Pelican">
        {% if not page and not article %}
        <meta name="author" content="{{ AUTHOR }}">
        {% if SITE_DESCRIPTION %}
        <meta name="description" content="{% block head_description %}{{ SITE_DESCRIPTION }}{% endblock head_description %}">
        {% endif %}
        {% endif %}
        {% block meta_tags_in_head %}
        {% endblock meta_tags_in_head %}

        <link rel="stylesheet" href="{{ SITEURL }}/theme/vendor/css/foundation.css" type="text/css">
        <link rel="stylesheet" href="{{ SITEURL }}/theme/css/{{ CSS_FILE }}" type="text/css">
        {% if FEED_ATOM %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed">
        {% endif %}
        {% if FEED_RSS %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed">
        {% endif %}

</head>

<body>
    <div id="wrapper">
        <div id="archive-header">
            <h1 class="grid-container"><a href="{{ SITEURL }}">
              <img src="{{ SITEURL }}/theme/images/libregraphicsmag-logo.png" alt="Libre Graphics magazine logo">
              <span>{{ SITENAME }}</span>
            </a></h1>
        </div><!-- /#archive-header -->
        <div id="top-nav">
            <nav class="top-bar grid-container">
              <div class="top-bar-left">
                <ul class="menu dropdown" data-dropdown-menu>
                    <li class="menu-text">Browse by</li>
                    <li><a href="{{ SITEURL }}/categories.html">Issue</a>
                      <ul class="menu">
                        {% for cat, null in categories %}
                            <li class="cell auto"><a href="{{ SITEURL }}/{{ cat.url }}">{{ cat.slug.replace('-', ' ') }}</a></li>
                        {% endfor %}
                      </ul>
                    </li>
                    <li><a href="{{ SITEURL }}/authors.html">Author</a></li>
                    <li><a href="{{ SITEURL }}/tags.html">Theme</a></li>
                </ul>
              </div>
              <div class="top-bar-right">
                <ul class="menu vertical medium-horizontal">
                  <li {% if page and page.slug == "glossary" %}class="active"{% endif %}>
                    <a href="{{ SITEURL }}/glossary/">Glossary</a>
                  </li>
                  <li {% if page and page.slug == "about" %}class="active"{% endif %}>
                    <a href="{{ SITEURL }}/about/">About</a>
                  </li>
                </ul>
              </div>
            </nav>
        </div><!-- /#top-nav -->
      
        {% block content %}
        {% endblock %}
    </div><!-- /#wrapper -->
  
    <footer id="footer">
      <div class="grid-container">
        <div class="grid-x grid-padding-x">
            <div class="cell small-12 medium-4">
                <pre>
 _______
|       |\
| LIBRE |||
| GRAP  |||
| HICS  |||
|_______|||
 \________|
</pre>

                <ul class="menu">
                  <li><a href="http://gitlab.com/libregraphicsmag/archive">Sources</a></li>
                  <li {% if page and page.slug == "about" %}class="active"{% endif %}>
                    <a href="{{ SITEURL }}/about/">About</a>
                  </li>
                  <li {% if page and page.slug == "glossary" %}class="active"{% endif %}>
                    <a href="{{ SITEURL }}/glossary/">Glossary</a>
                  </li>
                </ul>
            </div>
            <div class="cell small-12 medium-8">
                            <pre>
      ______ ______
    _/      Y      \_
   // ~~ ~~ | ~~ ~  \\
  // ~ ~ ~~ | ~~~ ~~ \\
 //________.|.________\\
`----------`-'----------'
                </pre>
                <p>{{FOOTERTEXT}}</p>
            </div>
        </div>
      </div><!-- /.grid-container -->
    </footer>

{% include 'piwik.html' %}

  <script src="{{ SITEURL }}/theme/vendor/js/jquery.js"></script>
  <script src="{{ SITEURL }}/theme/vendor/js/foundation.min.js"></script>
  <script type="text/javascript">
      $(document).foundation();
  </script>


</body>
</html>
