{% extends "base.html" %}
{% block title %}{{ SITENAME }} — {{ category.slug }}{% endblock %}
{% block content %}

  <section id="category" class="grid-container">
      <header>
        {% if category.slug == "the-archive" %}
          <p class="section"><span>New</span></p>
          <h2>{{ category.page.title }}</h2>
        {% else %}
          <p class="section"><span>Volume {{ category.slug[0] }}</span></p>
          <h2>Issue {{ category.slug }} &mdash; {{ category.page.title }}</h2>
        {% endif %}
      </header>
      <div class="content grid-x grid-padding-x">
        <div class="cover cell small-12 medium-5">
          {% if category.slug == "the-archive" %}
            {{ category.page.content }}
          {% else %}
            <p><img src="/images/{{ category.slug }}/cover-{{ category.slug }}.png" alt="Cover, Issue {{ category.slug }}"></p>
            <ul class="extras no-bullet">
              <li><a class="hollow button" href="{{ category.page.gitrepo }}">Source</a></li>
              <li><a class="hollow button" href="{{ category.page.pdfhigh }}">↓ PDF high-res</a></li>
              <li><a class="hollow button" href="{{ category.page.pdflow }}">↓ PDF low-res</a></li>
              <li><a class="hollow button" href="http://libregraphicsmag.com">Get a printed issue ↗</a></li>
            </ul>
            {{ category.page.content }}
          {% endif %}
        </div>
        <div class="cell small-12 medium-7">
          <ul class="index">
            {% for article in articles %}        
              <li>
                <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark"
                    title="Permalink to {{ article.title|striptags }}">
                  {% if article.section %}
                    <span class="section">{{ article.section }}</span>
                  {% endif %}
                    <strong class="title">{{ article.title }}</strong>
                  </a>
                {% if article.authors %}
                  <span class="author">
                    {% for author in article.authors %}
                      <a href="{{ SITEURL }}/authors.html#{{ author.slug }}">{{ author }}</a>{% if not loop.last %}, {% endif %}
                    {% endfor %}
                  </span>
                {% endif %}
              </li>
            {% endfor %}
          </ul>
        </div>
        <footer class="cell">
          <ul class="menu vertical medium-horizontal">
            <li class="menu-text">Browse issues:</li>
            {% for cat, articles in categories %}              
              {% if cat == category %}
                <li class="is-active"><a href="{{ SITEURL }}/{{ cat.url }}" title="{{ cat.page.title }}">
                    {{ cat.slug.replace('-', ' ') }}
                </a></li>
              {% else %}
                <li><a href="{{ SITEURL }}/{{ cat.url }}" title="{{ cat.page.title }}">
                    {{ cat.slug.replace('-', ' ') }}
                </a></li>
                {% endif %}
            {% endfor %}
            </ul>
        </div><!-- /.previous-next -->
      </div><!-- /.content -->
  </section><!-- /.grid-container -->
{% endblock content %}
