{% extends "base.html" %}
{% block title %}{{ SITENAME }} — Issues{% endblock %}
{% block content %}

  <section class="grid-container">
    <div class="content">
      <ul class="issues grid-x small-up-2 medium-up-4">
        {# put 'the-archive' category first #}
        {% set cats = [categories[-1]] + categories[:-1] %}
        {% for category, articles in cats %}
          <li class="cell">
            <a href="{{ SITEURL }}/{{ category.url }}">
              <img src="/images/{{ category.slug }}/cover-{{ category.slug }}.png" alt="Cover, Issue {{ category.slug }}">
              <span class="title">
                Issue {{ category.name.replace('issue', '') }}
                <strong>{{ category.page.title }}</strong>
              </span>
            </a>
          </li>
        {% endfor %}
        </ul>
    </div><!-- /.content -->
  </section><!-- /.grid-container -->
{% endblock content %}
