{% extends "base.html" %}
{% block content_title %}{% endblock %}
{% block content %}        


  <section class="grid-container">
  <!--
    <h2>Pages</h2>
      {% for page in pages %}
          <li><a href="{{ SITEURL }}/{{ page.url }}">{{ page.title }}</a></li>
      {% endfor %}
  -->
    <div id="homepage" class="content">
    
      <h2><a href="{{ SITEURL }}/the-archive">The Archive</a></h2>
      <ul class="index">
        {% for article in articles_page.object_list %}
          {% if article.category.slug == 'the-archive' %}
            <li>
              <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark"
                  title="Permalink to {{ article.title|striptags }}">
                {% if article.section %}
                  <span class="section">{{ article.section }}</span>
                {% endif %}
                  <strong class="title">{{ article.title }}</strong>
                </a>
              {% if article.authors %}
                <span class="author">
                  {% for author in article.authors %}
                    <em>{{ author }}</em>{% if not loop.last %}, {% endif %}
                  {% endfor %}
                </span>
              {% endif %}
            </li>  
          {% endif %}
        {% endfor %}
      </ul>
      <ul class="issues grid-x small-up-2 medium-up-4">
        {% for category, articles in categories %}
          {% if category.slug != "the-archive" %}
            <li class="cell">
              <a href="{{ SITEURL }}/{{ category.url }}">
                <img src="/images/{{ category.slug }}/cover-{{ category.slug }}.png" alt="Cover, Issue {{ category.slug }}">
                <span class="title">
                  Issue {{ category.name.replace('issue', '') }}
                  <strong>{{ category.page.title }}</strong>
                </span>
              </a>
            </li>
          {% endif %}
        {% endfor %}
        </ul>
    </div><!-- /.content -->
  </section><!-- /.grid-container -->
  
{% endblock content %}
