{% extends "base.html" %}
{% block title %}{{ page.title }}{% endblock %}
{% block meta_tags_in_head %}
{% if page.tags and page.category %}
        <meta name="keywords" content="{{ [page.tags|join(', '), page.category]|join(', ') }}" />
{% endif %}
{% if page.category %}
        <meta name="category" content="{{ page.category|striptags }}" />
{% endif %}
{% if page.description %}
        <meta name="description" content="{{ page.description|striptags  }}" />
{% elif page.summary %}
        <meta name="description" content="{{ page.summary|striptags  }}" />
{% endif %}
{% if page.author %}
        <meta name="author" content="{{ page.author }}" />
{% endif %}
{% endblock meta_tags_in_head %}

{% block content %}
  <section class="grid-container page">
      <h2>{{ page.title }}</h2>
      <div id="{{ page.slug }}" class="content">
        {% if PDF_PROCESSOR %}<a href="{{ SITEURL }}/pdf/{{ page.slug }}.pdf">get
        the pdf</a>{% endif %}

        {{ page.content }}
      </div><!-- /.content -->
  </section>
{% endblock %}
