{% extends "base.html" %}
{% block title %}{{ SITENAME }} - {{ tag }}{% endblock %}
{% block content %}

  <section class="grid-container">
      <h2>{{ tag.name }}</h2>
      <div class="content">
        {{ tag.page.content }}

        <ul class="index">
          {% for article in articles %}        
          <li>
            {% if article.section %}
              <span class="section">{{ article.section }}</span>
            {% endif %}
            <a class="title" href="{{ SITEURL }}/{{ article.url }}" rel="bookmark"
                title="Permalink to {{ article.title|striptags }}">
               {{ article.title }}
            </a> 
            {% if article.authors %}
              <span class="author">
                {% for author in article.authors %}
                  <em>{{ author }}</em>{% if not loop.last %}, {% endif %}
                {% endfor %}
              </span>
            {% endif %}
          </li>
          {% endfor %}
        </ul>
      </div><!-- /.content -->
  </section><!-- /.grid-container-->
  
{% endblock content %}
