{% if article.tags %}
  <p class="taglist">{% for tag in article.tags %}<a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a>{% endfor %}</p>
{% endif %}
{% if PDF_PROCESSOR %}
  <p><a href="{{ SITEURL }}/pdf/{{ article.slug }}.pdf">get the pdf</a></p>
{% endif %}
