{% extends "base.html" %}

{% block title %}{{ SITENAME }} - Tags{% endblock %}

{% block content %}

  <section class="grid-container">
    <h2>Themes</h2>
    <div class="content">  
      <!--
      <ul>
        {% for tag, articles in tags|sort %}
            <li><a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a> ({{ articles|count }})</li>
        {% endfor %}
      </ul>
      -->
      
      
      <ul id="tags-accordion" class="two-level-list">
        {% for tag, articles in tags|sort %}
          <li id="{{ tag.slug }}" class="list-item"><strong>{{ tag }}</strong> <em>({{ articles|count }})</em> 
            <ul class="index">
              {% for article in articles %}
                <li>
                  {% if article.section %}
                    <span class="section">{{ article.section }}</span>
                  {% endif %}
                  <a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a>
                </li>
              {% endfor %}
            </ul>
          </li>
        {% endfor %}
      </ul>
      
      
    </div><!-- /.content -->
  </section><!-- /.grid-container -->

{% endblock %}
