/*
	Name: Libre Graphics magazine archives
	Date: April 2018
	Description: Layout for LGmag archive
	Version: 1.0
	Author: Manufactura Independente
	Autor URI: http://manufacturaindependente.org
*/

/* Imports
@import url("pygment.css");*/

/* Typography
*/

@font-face {
  font-family: 'PropCourierSans';
  font-weight: 400;
  font-style: normal;
  src: local('PropCourierSans Regular'), url('../fonts/PropCourierSans/PropCourierSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'PropCourier';
  font-weight: 700;
  font-style: normal;
  src: local('PropCourierSans Bold'), url('../fonts/PropCourierSans/PropCourierSans-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'LinLibertine';
  font-weight: 400;
  font-style: normal;
  src: local('LinLibertine Regular'), url('../fonts/LinLibertine/LinLibertine_Regular.ttf') format('truetype');
}


@font-face {
  font-family: 'LinLibertine';
  font-weight: 400;
  font-style: italic;
  src: local('LinLibertine Regular Italic'), url('../fonts/LinLibertine/LinLibertine_RegularItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'LinLibertine';
  font-weight: 700;
  font-style: normal;
  src: local('LinLibertine Bold'), url('../fonts/LinLibertine/LinLibertine_Bold.ttf') format('truetype');
}


@font-face {
  font-family: 'LinLibertine';
  font-weight: 700;
  font-style: italic;
  src: local('LinLibertine Bold Italic'), url('../fonts/LinLibertine/LinLibertine_BoldItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Fantasque Mono';
  font-weight: 400;
  font-style: normal;
  src: local('Fantasque Mono'), url('../fonts/Fantasque/FantasqueSansMono-Regular.ttf') format('truetype');
}

html {
  font-size: 100%;
  box-sizing: border-box; }

body {
  padding: 0;
  margin: 0;
  font-family: "LinLibertine", Roboto, "DejaVu Sans", Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: #222;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "PropCourierSans", Roboto, "DejaVu Sans", Helvetica, Arial, sans-serif;
}

.button {
  font-family: "PropCourierSans", Roboto, "DejaVu Sans", Helvetica, Arial, sans-serif;
  font-weight: 700;
}

code, pre {
  font-family: "Fantasque Mono", Consolas, "Liberation Mono", Courier, monospace;
  font-weight: 400;
  background-color: #e6e6e6;
  border: 1px solid #cacaca;
  padding: 0.125rem 0.3125rem 0.0625rem;
}


.menu {
    font-size: 1rem;
    font-family: "PropCourierSans", Roboto, "DejaVu Sans", Helvetica, Arial, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
}


/* General
*/

a:active,
a:focus {
    outline: none;
}

/* external links */
a[target="_blank"]::after {
    display: inline-block;
    content: '↗';
    color: #18BC60;
    margin-right: 2px;
}

html {
    height: 100%;
    margin: 0;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

#wrapper {
    flex: 1 0 auto;
    padding-bottom: 2rem;
}

#wrapper .content {
    margin-top: 2rem;
}

#wrapper .grid-container,
#footer .grid-container {
  max-width: 72rem;
}

#footer {
    border-top: 1px solid #18BC60;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding-top: 2rem;
}

#footer pre {
    font-size: 8px;
    line-height: 1;
    background: transparent;
    border: 0;
}

ul.no-bullet {
    list-style-type: none;
    margin-left: 0;
}

.button.hollow {
    border-right-width: 3px;
    border-bottom-width: 3px;
}

hr {
    max-width: 72rem;
}

p + hr { margin-top: 4rem; }

hr + p { margin-bottom: 4rem; }

code,
pre {
  /* wrapping long words, strings or urls */
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

/* Navigation
*/

#archive-header {
  background-color: #18BC60;
   border-bottom: 1px solid #000;
}

#archive-header h1 {
   font-weight: 400;
   text-transform: uppercase;
   letter-spacing: 1px;
    line-height: 1;
    margin-bottom: 0;
}

#archive-header h1 a {
    display: block;
    color: #fff;
}

#archive-header h1 a span {
    display: inline-block;
    vertical-align: middle;
}

#archive-header h1 a img {
    display: inline-block;
    height: 80px;
    width: auto;
    vertical-align: middle;
}

#top-nav {
   border-bottom: 1px solid #18BC60;
   margin-bottom: 2rem;
}

#top-nav .top-bar {
    background: transparent;
    padding-top: 0;
    padding-bottom: 0;
}

#top-nav nav .menu {
   background: #fff;
}

#top-nav nav .menu.dropdown li ul.is-dropdown-submenu {
    border-color: #18BC60;
}

/* Homepage
*/

ul.issues {
    list-style-type: none;
    margin-left: 0;
}

ul.issues .title {
     font-family: "PropCourierSans", Roboto, "DejaVu Sans", Helvetica, Arial, sans-serif;
     line-height: 1.2;
     text-transform: uppercase;
     letter-spacing: 1px;
     display: block;
     padding: 0.45rem 0;
}

ul.issues .title strong {
    display: block;
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

ul.issues li a {
    display: block;
    padding: 0.65rem;
    margin-bottom: 1rem;
}

ul.issues li:first-child a,
ul.issues li:nth-child(5) a {
    padding-left: 0;
}

/* Issue page - category template
*/

ul.index {
    list-style-type: none;
    margin-left: 0;
}

ul.index li {
    margin-bottom: 0.45rem;
}

ul.index li span.section {
    color: #666;
    font-size: 85%;
    font-family: "PropCourierSans", Roboto, "DejaVu Sans", Helvetica, Arial, sans-serif;
    line-height: 1;
    text-transform: uppercase;
    display: inline-block;
    border: 1px solid #999;
    padding: 0.25rem;
    margin-right: 0.25rem;
    margin-bottom: 0.25rem;
}

ul.index li .title { font-size: 1rem; font-weight: 400;}
#homepage ul.index li .title { font-size: 1.25rem; }

ul.index li .author em {
    color: #666;
    font-style: normal;
}

ul.index li .author a {
    color: #666;
}

ul.index li a + .author::before {    
    color: #666;
    display: inline-block;
    content: "— ";
    padding-right: 0.15rem;
}

ul.index li em:empty,
ul.index li em:empty:before {
    display: none;
}

ul.index li.current span.section {
    font-weight: 700;
    color: #fff;
    background-color: #999;
}

ul.index li.current a {
    color: #666;
}

ul.index li .author { display: block; }

#homepage ul.index li .author { display: inline; }

ul.extras li {
}

#category ul.menu {
    text-transform: none;
    border: 1px solid #18BC60;
    margin-top: 1.5rem;
}

#category ul.menu li {
    border-right: 1px solid #18BC60;
}

#category ul.menu li:first-child {
}

/* Article
*/

article header,
#category header {
    margin-bottom: 3em;
}

article header p.section,
#category header p.section {
    text-align: right;
    border-bottom: 1px solid #999;
}

article header p.section span,
#category header p.section span {
    color: #666;
    font-family: "PropCourierSans", Roboto, "DejaVu Sans", Helvetica, Arial, sans-serif;
    line-height: 1;
    text-transform: uppercase;
    border-top: 1px solid #999;
    border-left: 1px solid #999;
    border-right: 1px solid #999;
    padding: 0.2rem 0.5rem;
}

article header h1 {
    line-height: 1;
}

article header h4.author {
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: 1px;
}

/* column headers
*/

article header .media-object .thumbnail img {
    width: 100%;
    height: auto;
}

@media screen and (max-width: 39.9375em) { /* Small only */
    
    article header .media-object .thumbnail { width: 70px; }
}

.taglist a {
    font-size: 90%;
    font-family: "PropCourierSans", Roboto, "DejaVu Sans", Helvetica, Arial, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    display: inline-block;
    background-color: #18BC60;
    color: #fff;
    padding: 0.2rem 0.5rem;
    margin-right: 4px;
    margin-bottom: 4px;
}

article .entry-content {
    margin-bottom: 1em;
    padding-bottom: 1em;
    border-bottom: 1px solid #cacaca;
}

@media screen and (min-width: 64em) { /* Large and up */
  article .entry-content p {
      max-width: 80%;
  }
}

article .entry-content p,
article .entry-content ul,
article .entry-content ol,
.page p, .page ul, .page ol {
    font-size: 120%;
}

article .entry-content li > p,
.page li > p {
    font-size: 100%;
}

article .entry-content ul,
article .entry-content ol {
    max-width: 80%;
    line-height: 1.3;
    margin-bottom: 2rem;
}

article .entry-content ul li,
article .entry-content ol li {
    margin-bottom: 0.85rem;
}

article .entry-content div.footnote > * {
    font-size: 90%;
}

article .entry-content > h2:first-child,
article .entry-content > h3:first-child,
article .entry-content > h4:first-child,
article .entry-content > h5:first-child {
    margin-top: 0;
}

article .entry-content h2,
article .entry-content h3,
article .entry-content h4,
article .entry-content h5,
article .entry-content h6 {
    line-height: 1.2;
    margin-bottom: 0.5rem;
}

article .entry-content h3,
article .entry-content h4,
article .entry-content h5 {
    margin-top: 2rem;
}

article .entry-content a {
    font-style: italic;
    color: #222;
    border-bottom: 1px solid #666;
}

article .entry-content a:hover,
article .entry-content a:focus {
    color: #18BC60;
    border-color: #18BC60;
}

article .entry-content a:visited {
    border-color: #18BC60;
}

article .entry-content p:last-child > em  {
    /* author's bio */
    display: block;
    border-top: 1px solid #cacaca;
    margin-top: 2em;
    padding-top: 1em;
}

article .entry-content blockquote {
    border-left: 0;
    margin-left: 0;
    padding: 1rem 0 1rem 0;
}

article .entry-content blockquote p {
    margin-bottom: 0.5rem;
}

article .entry-content blockquote p:last-child {
    margin-bottom: 1rem;
}

article .entry-content blockquote > p {
    color: #222;
    font-size: 1.5rem;
    font-family: "PropCourierSans", Roboto, "DejaVu Sans", Helvetica, Arial, sans-serif;
    display: block;
    margin-left: 4rem;
    max-width: 60%;
}

article .entry-content > blockquote:first-child p {
    margin-left: 0;
}

/* styling quotes in Modelling, issue 2.2 */
article .entry-content blockquote > p > em {
    font-size: 1.25rem;
    font-style: normal;
    line-height: 1.3;
    margin-left: -2em;
    display: block;
}

article .entry-content blockquote p:last-child > em {
    border-top: 0;
    margin-top: 0;
    padding-top: 0;
}

article .entry-content blockquote > p > em > a::before {
    content: "→ ";
    display: inline-block;
    font-size: 90%;
    color: #222;
    padding-right: 0.25rem;
}

article .entry-content blockquote > p > em > a {
    font-size: 85%;
    font-family: "LinLibertine", Roboto, "DejaVu Sans", Helvetica, Arial, sans-serif;
    text-align: right;
    display: block;
    margin-bottom: 1rem;
}

/* Images in articles
   using CSS technique found here
   https://stackoverflow.com/questions/8720931/can-css-detect-the-number-of-children-an-element-has#12198561
*/

article .entry-content p > img {
    display: inline-block;
    padding: 0;
    margin: 0;
    margin-top: 2rem;
    vertical-align: top;
}

article .entry-content p:first-child > img { margin-top: 0; }

article .entry-content p > img:first-child {
    width: 100%;
    margin-left: 0 !important;
}

article .entry-content p > img:first-child:nth-last-child(2),
article .entry-content p > img:first-child:nth-last-child(2) ~ img {
    width: 49%;
    margin-left: 2%;
}

article .entry-content p > img:first-child:nth-last-child(3),
article .entry-content p > img:first-child:nth-last-child(3) ~ img {
    width: 32%;
    margin-left: 2%;
}
article .entry-content p > img:first-child:nth-last-child(4),
article .entry-content p > img:first-child:nth-last-child(4) ~ img {
    width: 23.5%;
    margin-left: 2%;
}

article .entry-content p > img:first-child:nth-last-child(5),
article .entry-content p > img:first-child:nth-last-child(5) ~ img {
    width: 18.4%;
    margin-left: 2%;
}

/* Image captions in articles */

article .entry-content p > span {
    font-size: 80%;
    line-height: 1.2;
    display: inline-block;
    border-left: 6px solid #eee;
    padding: 0 0.45rem;
}

article .entry-content p > span:first-child {
    max-width: 60%;
    margin-left: 0 !important;
}

article .entry-content p > span:first-child:nth-last-child(2),
article .entry-content p > span:first-child:nth-last-child(2) ~ span {
    width: 49%;
    margin-left: 2%;
}

article .entry-content p > span:first-child:nth-last-child(3),
article .entry-content p > span:first-child:nth-last-child(3) ~ span{
    width: 32%;
    margin-left: 2%;
}
article .entry-content p > span:first-child:nth-last-child(4),
article .entry-content p > span:first-child:nth-last-child(4) ~ span {
    width: 23.5%;
    margin-left: 2%;
}

article .entry-content p > span:first-child:nth-last-child(5),
article .entry-content p > span:first-child:nth-last-child(5) ~ span {
    width: 18.4%;
    margin-left: 2%;
}

article .next-previous {
    font-size: 90%;
    font-family: "PropCourierSans", Roboto, "DejaVu Sans", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    padding-bottom: 0.85rem;
    border-bottom: 1px solid #cacaca;
    margin-bottom: 1rem;
}

article .next-previous a {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

article .next-previous a.previous {
    text-align: left;
    padding-right: 0.5rem;
}

article .next-previous a.next {
    text-align: right;
    padding-left: 0.5rem;
    border-left: 1px solid #18BC60;
}

article footer {
    margin-top: 1rem;
}

article footer h5.subheader {
    font-weight: 700;
    line-height: 1.2;
    text-transform: uppercase;
    letter-spacing: 1px;
}

article footer ul {
    list-style-type: none;
    margin-left: 0;
}

article footer ul li {
    margin-left: 0;
    line-height: 1.2;
    margin-top: 0.45rem;
    font-size: 90%;
}

/* Masthead
*/

#masthead h1.entry-title {
  display: none;
}

#masthead ul {
  list-style-type: none;
}

#masthead ul li ul {
  list-style-type: "—";
}


/* Glossary
*/

#glossary dl {
    font-size: 110%;
    line-height: 1.3;
    max-width: 80%;
}

#glossary dl dt {
    margin-top: 1.5rem;
    margin-bottom: 0.2rem;
}

#glossary dl dt:first-child {
    margin-top: 0;
}

#glossary dl dd {
    padding-left: 1rem;
    border-left: 6px solid #eee;
}

/* New Releases
*/

#new-releases .entry-content h2 {
  font-family: "LinLibertine", Roboto, "DejaVu Sans", Helvetica, Arial, sans-serif;
    border-bottom: 1px solid #cacaca;
    padding-bottom: 0.85rem;
}

#new-releases .entry-content p {
    font-family: "PropCourierSans", Roboto, "DejaVu Sans", Helvetica, Arial, sans-serif;
    break-inside: avoid-column;
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
}

#new-releases .entry-content p > a {
    font-family: "LinLibertine", Roboto, "DejaVu Sans", Helvetica, Arial, sans-serif;
    /* wrapping long urls */
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}


#new-releases .entry-content p + h2 {
    margin-top: 2.5rem;
}

@media screen and (min-width: 64em) { /* Large and up */
  #new-releases > .cell.entry-content {
      display: block;
      -webkit-columns: 2;
      -moz-columns: 2;
      columns: 2;
      -moz-column-gap: 2em;
      -webkit-column-gap: 2em;
      column-gap: 2em;
  }
  #new-releases > .cell.entry-content p {
      max-width: 100%;
  }
}


/* Authors and tags
*/

.two-level-list {
    display: block;
    list-style-type: none;
    margin-left: 0;
}

@media screen and (min-width: 64em) { /* Large and up */
    .two-level-list {
        display: block;
        -webkit-columns: 2;
        -moz-columns: 2;
        columns: 2;
        list-style-type: none;
        margin-left: 0;
    }

    .two-level-list > li.list-item {
        break-inside: avoid-column;
        -webkit-column-break-inside: avoid;
        page-break-inside: avoid;
    }
}

.two-level-list > li.list-item > strong,
.two-level-list > li.list-item > em {
    color: #222;
    font-size: 90%;
    font-family: "PropCourierSans", Roboto, "DejaVu Sans", Helvetica, Arial, sans-serif;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
    display: inline-block;
    padding: 0.45rem 0;
}

.two-level-list > li.list-item.is-active > a {
    color: #18BC60;
}

.two-level-list > li.list-item > a:hover,
.two-level-list > li.list-item:hover > a::before {
    border-color: #18BC60;
    color: #18BC60;
}

.two-level-list > li.list-item em {
    font-style: normal;
    color: #cacaca;
}

.two-level-list .index {
    line-height: 1.2;
    border: 0;
    border-top: 1px solid #cacaca;
    padding: 0.5rem 0.5rem 0.5rem 0;
}

.two-level-list .index span.section {
    color: #999;
    font-size: 65%;
    font-weight: 700;
    border-color: #cacaca;
}




